<web-app>
    <servlet>
        <servlet-name>GamingServlet</servlet-name>
        <servlet-class>GamingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GamingServlet</servlet-name>
        <url-pattern>/GamingServlet</url-pattern>
    </servlet-mapping>
</web-app>
